
<div class="container my-5">
  <h2 class="text-center my-3">Reset Your Account Password</h2>

    <!-- ^ Appear in case there are API errors == errorMessage=true => contain value ^ -->
    <div *ngIf="errorMessage" class="alert alert-danger">
      {{errorMessage | trim:8}}        <!-- ! trim -> custom pipe ! -->
    </div>

  <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword(resetPasswordForm)">

    <div class="form-floating mb-3">
      <input type="text" class="form-control" id="floatingInput" formControlName="email" placeholder="Email">
      <label for="floatingInput">Email</label>
    </div>

    <!-- ! Appear in case there are errors and in case touched the email input -->
    <!-- ! Appear in case there are errors and in case submit the form and it is in valid -->
    <div *ngIf="resetPasswordForm.get('email')?.errors && (resetPasswordForm.get('email')?.touched || isNotValidForm)" class="alert alert-danger">
      <!-- & Appear in case required -->
      <p class="mb-0" *ngIf="resetPasswordForm.get('email')?.getError('required')">Email Is Required</p>

      <!-- & Appear in case not match email pattern -->
      <p class="mb-0" *ngIf="resetPasswordForm.get('email')?.getError('email')">Email Is InValid</p>
    </div>


    <div class="form-floating mb-4">
      <input type="password" class="form-control" id="floatingPassword" formControlName="newPassword" placeholder="newPassword">
      <label for="floatingPassword">newPassword</label>
    </div>

    <!-- ! Appear in case there are errors and in case touched the newPassword input -->
    <!-- ! Appear in case there are errors and in case submit the form and it is in valid -->
    <div *ngIf="resetPasswordForm.get('newPassword')?.errors && (resetPasswordForm.get('newPassword')?.touched || isNotValidForm)" class="alert alert-danger">
      <!-- & Appear in case required -->
      <p class="mb-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('required')">Password Is Required</p>

      <!-- & Appear in case not match password pattern -->
      <p class="mb-0" *ngIf="resetPasswordForm.get('newPassword')?.getError('pattern')">Password Is InValid</p>
    </div>


    <button class="btn btn-outline-success py-2 px-3">Reset Password</button>
  </form>
</div>

