
<div class="container my-5">
  <div class="bg-main-light p-4">
    <h2>My wish List</h2>
    <h4>Total Items : <span class="text-main">{{wishlistDetails.count}}</span></h4>

    <!-- * Looping On Product[] * -->
    <div class="row mb-4 align-items-center"
      *ngFor="let product of wishlistDetails.data ;let last=last"
      [class]="last?'border-edit':'add-border' ">
      <div class="col-md-2">
        <img [src]="product?.imageCover" class="w-100" alt>
      </div>
      <div class="col-md-8">
        <h4>{{product?.title}}</h4>

          <p class="text-main mb-0">{{product.price}} EGP</p>
          <button class="btn text-danger p-0"
            (click)="deleteItem(product._id)">
            <i class="fa-regular fa-trash-can me-1"></i>Remove
          </button>

      </div>

      <div class="col-md-2">
        <button class="btn btn-outline-success p-2" (click)="addToCart(product._id)">Add To Cart</button>
      </div>


    </div>


  </div>
</div>
